{% extends 'base.html' %}
{% block title %}Home{% endblock title %}


{% block body %}

    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Previous Payments</h2>
            <h4 class="text-center"><em>Total: {{messages|length}}</em></h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th> Order List</th>
                        <th>Paid Payment</th>
                        <th>Remaining Payment</th>
                        <th>Total Payment</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for msg in messages %}
                        <tr>
                            <td>{{msg.id}}</td>
                            <td>{{msg.name}}</td>
                            <td>{{msg.address}}</td>
                            <td>{{msg.order_list}}</td>
                            <td>{{msg.paid_payment}}</td>
                            <td>{{msg.remaining_payment}}</td>
                            <td>{{msg.total_payment}}</td>
                            <td>{{msg.added_on}}</td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
            <a class="btn btn-primary m-2" href="/paypdf_report">Create PDF</a>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
</script>
<style>
button[type="submit"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: ;
}

  button[type="submit"]:hover {
  background: #1c84e3;
}
</style>

{% endif %}
{% endblock body %}