{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}

<div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
<form method="get" action="/search" class="d-flex">
        <input name="q" id="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
                                      </div>
   
<div class="container-fluid">    

   <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Previous Sales Record</h2>
            <h4 class="text-center"><em>Total: {{messages|length}}</em></h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Medical Name</th>
                        <th>Medicine Name</th>
                        <th>Amount of Medicine</th>
                        <th>Price of Medicines</th>
                        <th>Manufacture Date</th>
                        <th>Expiry Date</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for msg in messages %}
                        <tr>
                            <td>{{msg.id}}</td>
                            <td>{{msg.medical_name}}</td>
                            <td>{{msg.medicine_name}}</td>
                            <td>{{msg.amount_of_medicine}}</td>
                            <td>{{msg.price_of_medicine}}</td>
                            <td>{{msg.manufacture_date}}</td>
                            <td>{{msg.expiry_date}}</td>
                            <td>{{msg.added_on}}</td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
                    <a class="btn btn-primary m-2" href="/pdf_report">Create PDF</a>

        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
</script>
<style>
button[type="submit"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: ;
}

  button[type="submit"]:hover {
  background: #1c84e3;
}
</style>

{% endif %}
{% endblock body %}