<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AdminDashBoard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="static/assets/img/favicon.png" rel="icon">-->
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany - v4.2.0
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 </head>
 <body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="index.html"><span>LifeCare Pharmacy</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            
            <!--<li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
            <li><a class="getstarted scrollto" href="/" style=" font-size:20px;"> Home</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

<div class="container mt5" style=" margin-top:150px;">
	<div class="row">
  <div class="col-md-12 bg-light text-center py-5 text-dark">
            <h1>ADMIN DASHBOARD</h1>
        </div>
     <!--<h2class="text-center">Manage Customer and Pharmacist Details</h2>-->
    <ul class="ds-btn btn-center">
    <div class="col-md-offset-5 col-md-9">
     <!--<li>
             <a class="btn btn-lg " href="http://dotstrap.com/">
          <i class="glyphicon glyphicon-link pull-left"></i><span>User Profile<br><small>Lorem ipsum dolor</small></span></a> 
            
        </li>-->
        <br><br>
        <li>
             <a class="btn btn-lg btn-primary" href="/customerdashboard">
          <i class="glyphicon glyphicon-user pull-left"></i><span>CUSTOMER<br><small>check customer details </small></span></a> 
            
        </li>
        <br></br>

        <li>
             <a class="btn btn-lg btn-success " href="/pharmadashboard">
         <i class="glyphicon glyphicon-dashboard pull-left"></i><span>PHARMACIST<br><small>check pharmacist details</small></span></a> 
            
        </li>
        <!--<li>
             <a class="btn btn-lg btn-danger" href="http://dotstrap.com/">
         <i class="glyphicon glyphicon-tasks pull-left"></i><span>Daily Tasks<br><small>Lorem ipsum dolor</small></span></a> 
            
        </li>
        <li>
               <a class="btn btn-lg btn-warning" href="http://dotstrap.com/">
        <i class="glyphicon glyphicon-search pull-left"></i><span>Search<br><small>Lorem ipsum dolor</small></span></a> 
        </li>
        <li>
               <a class="btn btn-lg btn-info" href="http://dotstrap.com/">
         <i class="glyphicon glyphicon-list pull-left"></i><span>List Group<br><small>Lorem ipsum dolor</small></span></a> 
        </li>-->
    </ul>
    
	</div>
</div>
    

    