<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="static/assets/img/favicon.png" rel="icon">-->
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany - v4.2.0
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 </head>
 <body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="index.html"><span>LifeCare Pharmacy</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar" >
          <ul>
            
            <li><a class="getstarted scrollto" href="/" style=" font-size:20px;"> Home</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

<form method="POST" action="/login"  >
{% csrf_token %}	
	<div style="max-width: 400px;">
</div>


<b>
<center>



</style>
<img src="https://images.unsplash.com/photo-1584362917165-526a968579e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=782&q=80" style=" width: 1650px; height: 900px;" class="img-fluid"  alt="">

<br><br><br><br><br>
<div style="padding-bottom: 18px;font-size : 40px; text-align : bottom-center; color:black; background-color: "></div></b></u>

<style>
.aa{
		width:450px;
		height: 450px;
		color:black;
		text-align: left;
		font-family: sans-serif;
		background-size: cover;
		color: #fff;
		transform: translate(-5%,-5%);
		background:rgba(255,255,255,0.2);
		box-shadow: 0px 4px 16px rgba(0,0,0,0.5);
		margin:0 auto;
		margin-top:-800px;
		margin-left:600px;
		padding-top:50px;
		padding-left:70px;
		padding-right:70px;
		border-radius:50px;
		-webkit-border-radius:0px;
	}

<style>
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  width: 1000px;
  height: 100px;
}
</style>
<body>

<div class="aa" >
<b><div style=" font-size : 25px; text-align: center; color:black;">Administrator Login</br></br></div>
<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" ></br></br>
<b><div style=" font-size : 22px; color:black;">
Email-ID:<input type="text" id="emailid" name="emailid" placeholder="ex.-admin123@gmail.com"style=" margin-left: 0px; border: solid; font-size:20px; width:350px; height:40px;" required /></br></br>
Password:<input type="password" id="password" name="password" placeholder="ex.-Password123.." style=" margin-left: 0px;  border: solid; font-size:20px; width:350px; height:40px;" required /></br></br>
<div><center> <a href="/admindashboard" style=" color: #fff;"> <button type="submit" name="login" class="btn btn-dark" style=" text-align: center; background-color:#009970; margin-left: 20px; font-size:20px; width: 250px; height:40px;" >Login</a></center></button></br>
</div></div></div>
</body>
</html>