<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Stock</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="static/assets/img/favicon.png" rel="icon">-->
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany - v4.2.0
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 </head>
 <body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="index.html"><span>LifeCare Pharmacy</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar" >
          <ul>
            
            <li><a class="nav-link scrollto" href="/pharmacydashboard" style=" font-size:25px;">Back</a></li>
            <li><a class="getstarted scrollto" href="/" style=" font-size:20px;"> Home</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->



<form method="POST" action="">
{% csrf_token %}
	<div style="max-width: 400px;">
</div>

<div style="padding-bottom: 18px;font-size : 40px; text-align : bottom-center;color:yellow;background-color: "></div></b></u>
<img src="https://images.unsplash.com/photo-1587370560942-ad2a04eabb6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80 " style=" width: 2000px; height: 1300px;;" class="img-fluid" alt="...">
<style>
.aa{
		width:750px;
		height: 1050px;
		color: #fff;
		text-align: left;
		font-family: sans-serif;
		background-size: cover;
		color: #C47451;
		transform: translate(-5%,-5%);
		background:rgba(255,255,255,0.0);
		box-shadow: 0px 4px 16px rgba(0,0,0,0.5);
		margin:0 auto;
		margin-top:-1100px;
		margin-left:700px;
		padding-top:50px;
		padding-left:70px;
		padding-right:70px;
		border-radius:10px;
		-webkit-border-radius:0px;
	}
</style>
<body>

<div class="aa" >
<b><div style=" font-size : 25px; text-align: center; color:black;">Stock Details</br></br></div>
<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" ></br></br>
<b><div style=" font-size : 22px; color:black;">

Medicine Name:</br><input type="text" id="medname" name="medname" style=" margin-left: 0px; border: solid; font-size:20px; width:350px; height:40px;" required /></br></br>
Company Name:</br><input type="text" id="companyname" name="companyname" style=" margin-left: 0px; border: solid; font-size:20px; width:350px; height:40px;" required /></br></br>
Batch No.:</br><input type="text" id="batchno" name="batchno" style=" margin-left: 0px;  border: solid; font-size:20px; width:350px; height:40px;" required/></br></br>
No of Strips:</br><input type="text" id="no_of_strips" name="no_of_strips" style=" margin-left: 0px;  border: solid; font-size:20px; width:350px; height:40px;" required/></br></br>
No of Medicine:</br><input type="text" id="no_of_med" name="no_of_med" style=" margin-left: 0px;  border: solid; font-size:20px; width:350px; height:40px;" required/></br></br>
Manufacturing Date:</br><input type="text" id="mfd" name="mfd" style=" margin-left: 0px; border: solid; font-size:20px; width:350px; height:40px;"  required/></br></br>
Expire Date :</br><input type="text" id="exd" name="exd" style=" margin-left: 0px; border: solid; font-size:20px; width:350px; height:40px;" required /></br></br>
Price :</br><input type="text" id="price" name="price" style=" margin-left: 0px; border: solid; font-size:20px; width:350px; height:40px;" required /></br></br>

<div><center> <button type="submit" name="login" class="btn btn-dark" style=" text-align: center; background-color:#009970; margin-left: 400px; margin-top: -1400px; font-size:20px; width: 250px;  height:40px;" >Add Stock</a></center></button></br>
<div><center> <a href="/view" style=" color: #fff;"> <button type="button" name="login" class="btn btn-dark" style=" text-align: center; margin-left: 400px; margin-top: -1200px; font-size:20px; width: 250px; background-color:#009970; height:40px;" >View Stock</a></center></button></br>
<div><center> <a href="/stock " style=" color: #fff;"> <button type="button" name="login" class="btn btn-dark" style=" text-align: center; margin-left: 400px; margin-top: -1000px; font-size:20px; width: 250px; background-color:#009970; height:40px;" >Cancel</a></center></button></br>
<!--
<div><center> <a href="/update/{{stock.id}}" style=" color: black;"> <button type="button" name="login" class="btn btn-dark" style=" text-align: center; margin-left: 400px; margin-top: -950px; font-size:20px; width: 250px; background-color:#E5E4E2; height:40px;" >Update Stock</a></center></button></br>
<div><center> <a href="/delete/{{ stock.id }}" style=" color: black;"> <button type="button" name="login" class="btn btn-dark" style=" text-align: center; margin-left: 400px; margin-top: -850px; font-size:20px; width: 250px; background-color:#E5E4E2; height:40px;" >Delete Stock</a></center></button></br>-->
</div></div></div>
{% if messages%}
{%for updatedrecord in messages%}
<h3 style="color: green;">{{updatedrecord}}</h3>
{%endfor%}
{% endif %}
</body>
</html>
